/* Display games */
#owl-carousel {
    background-color: rgb(247, 248, 249)
}

/* Players and Teams */
#team-info, #player-info, #player-name-40, #team-name-bio {
    cursor: pointer;
}

#team-info:hover, #player-info:hover, #player-name-40:hover, #team-name-bio:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

dt, dd {
    font-size: 21px;
}

/* style="color: black; background-color:rgba(219, 219, 219, 0.75); text-align: center; padding-left: 5px;" */

#team-stadium {
    color: black;
    background-color: rgba(219, 219, 219, 0.75);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.play-button-overlay {
    left: 0;
    position: absolute;
    top: 0;

    height: 100%;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}

/* TESTING STICKY SIDEBAR 
.sticky-sidebar {
    background-color: aqua;
}

.sidebar-inner {
    background-color: red;
    height: 5000px;
}

END TESTING */

#advertisment {
    position: sticky;
    top: 25%;
}

/* Footer */

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 300px;
    background-color: rgb(255, 255, 255);
}
  
.myFooter {
    position: absolute;
    bottom: 0%;
    height: auto;
    width: 100%;
    background-color: rgb(247, 248, 249);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footerText {
    font-size: 10px;
    text-align: center;
}
