{% load static %}

<div>
    <footer class="myFooter">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 style="text-decoration: underline;">Sources</h5>
                    <a href="https://www.cbssports.com/mlb/"><div>CBS Sports</div></a>
                    <a href="https://www.espn.com/mlb/"><div>ESPN</div></a>
                    <a href="https://www.foxsports.com/mlb"><div>Fox Sports</div></a>
                    <a href="https://www.nbcsports.com/mlb"><div>NBC Sports</div></a>
                    <a href="https://twitter.com/"><div>Twitter</div></a>
                    <a href="http://www.launchphotography.com/Ballpark_Panoramas.html"><div>Launch Photography</div></a>
                </div>
                <div class="col">
                    <h5 style="text-decoration: underline;">APIs Used</h5>
                    <a href="https://appac.github.io/mlb-data-api-docs/#top"><div>MLB API</div></a>
                    <a href="https://newsapi.org/"><div>News API</div></a>
                    <a href="https://developer.twitter.com/en/docs/twitter-api"><div>Twitter API</div></a>
                </div>
                <div class="col">
                    <h5 style="text-decoration: underline;">Special Thanks</h5>
                    <div>Chelsea</div>
                    <div>Cole</div>
                    <div>Tim</div>
                </div>
            </div>
        </div>
        <br>
        <div class="footerText">
            Copyright &copy; 2022, Chase Taylor. All rights reserved.
            <br>
            Project created for CS50 Web Programming with Python and Javascript 2022
            <br>
            Any use of outside sources were used for educational purposes only and are not to be used for commercial use without permission
        </div>  
    </footer>
</div>