{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{% static 'baseball/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'baseball/owl.theme.default.min.css' %}">

        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>

    <body>
        <h2 id="blue">TEST</h2>
        {% include 'baseball/navbar.html' %}

        <!-- Testing Bootstrap Carousel for game info
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">

                Changing to card format with 3 areas
                
                <div class="carousel-item active">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 1</li>
                            <li class="list-group-item">Team 2</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 3</li>
                            <li class="list-group-item">Team 4</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 5</li>
                            <li class="list-group-item">Team 6</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 7</li>
                            <li class="list-group-item">Team 8</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 9</li>
                            <li class="list-group-item">Team 10</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 11</li>
                            <li class="list-group-item">Team 12</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 13</li>
                            <li class="list-group-item">Team 14</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 15</li>
                            <li class="list-group-item">Team 16</li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width:12rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Date/Time</li>
                            <li class="list-group-item">Team 17</li>
                            <li class="list-group-item">Team 18</li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        End Test -->

        <!-- Testing Owl Carousel -->
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="card" style="width:12rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date/Time</li>
                        <li class="list-group-item">Team 1</li>
                        <li class="list-group-item">Team 2</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width:12rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date/Time</li>
                        <li class="list-group-item">Team 3</li>
                        <li class="list-group-item">Team 4</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width:12rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date/Time</li>
                        <li class="list-group-item">Team 5</li>
                        <li class="list-group-item">Team 6</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width:12rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date/Time</li>
                        <li class="list-group-item">Team 7</li>
                        <li class="list-group-item">Team 8</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width:12rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date/Time</li>
                        <li class="list-group-item">Team 9</li>
                        <li class="list-group-item">Team 10</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width:12rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Date/Time</li>
                        <li class="list-group-item">Team 11</li>
                        <li class="list-group-item">Team 12</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- End Test-->

        <div>
            {% block body %}
            {% endblock %}
        </div>

        <!-- Bootstrap and Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="{% static 'baseball/functions.js' %}"></script>

        <!-- jquery -->
        <script type="text/javascript" src="{% static 'baseball/jquery-3.6.0.js' %}"></script>

        <!-- Needed for CSS to work as expected -->
        <link rel="stylesheet" type="text/css" href="{% static 'baseball/styles.css' %}">
    </body>

    <footer>
        <!-- Owl Carousel -->
        <script src="{% static 'baseball/owl.carousel.min.js' %}"></script>
    </footer>

    <script>
        $('.owl-carousel').owlCarousel({
            loop:false,
            margin:0,
            nav:true,
            rewind: true,
            responsive:{
                0:{
                    items:1
                },
                400:{
                    items:2
                },
                600:{
                    items:3
                },
                800:{
                    items:4
                },
                1000:{
                    items:5
                },
                1200:{
                    items:6
                },
            }
        })
    </script>

</html>