{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{% static 'baseball/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'baseball/owl.theme.default.min.css' %}">

        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>

    <body>
        {% include 'baseball/navbar.html' %}

        <!-- Owl Carousel Todays Games -->
        <div id="owl-carousel" class="owl-carousel owl-theme">   
        </div>
        <br>
        <div>
            {% block body %}
            {% endblock %}
        </div>

        <!-- jquery -->
        <script type="text/javascript" src="{% static 'baseball/jquery-3.6.0.js' %}"></script>

        <!-- Bootstrap and Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="{% static 'baseball/functions.js' %}"></script>

        <!-- Needed for CSS to work as expected -->
        <link rel="stylesheet" type="text/css" href="{% static 'baseball/styles.css' %}">

        {% include 'baseball/footer.html' %}
    </body>

    <footer>
        <!-- Owl Carousel -->
        <script src="{% static 'baseball/owl.carousel.min.js' %}"></script>
    </footer>

</html>