{% extends "baseball/layout.html" %}

{% load static %}

{% block body %}

    <div class="container col-md-4">
        <div class="card text-center">
            <h2 style="text-align: center;">Login</h2>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            
            <div class="card-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Login">
                </form>
            
                Don't have an account? <a href="{% url 'register' %}">Register here.</a>
            </div>
        </div>
    </div>

{% endblock %}