<!-- Bootstrap Navigation Bar -->

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">User Profile</a>
          </li>

          <!-- Drop Down Menu for Teams -->
          <!-- TO DO: set links / pass in api for names? -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teams
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ul class="list-group list-group-horizontal">
                    <ul class="list-group container-fluid">
                        <ul>AL East<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="/team/Baltimore_Orioles">Baltimore Orioles</a></ul>
                        <ul><a class="dropdown-item" href="#">Boston Red Sox</a></ul>
                        <ul><a class="dropdown-item" href="#">New York Yankees</a></ul>
                        <ul><a class="dropdown-item" href="#">Tampa Bay Rays</a></ul>
                        <ul><a class="dropdown-item" href="#">Toronto Blue Jays</a></ul>
                    </ul>
                    
                    <ul class="list-group container-fluid">
                        <ul>AL Central<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="#">Chicago White Sox</a></ul>
                        <ul><a class="dropdown-item" href="#">Cleveland Guardians</a></ul>
                        <ul><a class="dropdown-item" href="#">Detroit Tigers</a></ul>
                        <ul><a class="dropdown-item" href="#">Kansas City Royals</a></ul>
                        <ul><a class="dropdown-item" href="#">Minnesota Twins</a></ul>
                    </ul>

                    <ul class="list-group container-fluid">
                        <ul>AL West<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="#">Houston Astros</a></ul>
                        <ul><a class="dropdown-item" href="#">Los Angeles Angels</a></ul>
                        <ul><a class="dropdown-item" href="#">Oakland Athletics</a></ul>
                        <ul><a class="dropdown-item" href="#">Seattle Mariners</a></ul>
                        <ul><a class="dropdown-item" href="#">Texas Rangers</a></ul>
                    </ul>
                </ul>

                <br>

                <ul class="list-group list-group-horizontal">
                    <ul class="list-group container-fluid">
                        <ul>NL East<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="#">Atlanta Braves</a></ul>
                        <ul><a class="dropdown-item" href="#">Miami Marlins</a></ul>
                        <ul><a class="dropdown-item" href="#">New York Mets</a></ul>
                        <ul><a class="dropdown-item" href="#">Philadelphia Phillies</a></ul>
                        <ul><a class="dropdown-item" href="#">Washington Nationals</a></ul>
                    </ul>
                    
                    <ul class="list-group container-fluid">
                        <ul>NL Central<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="#">Chicago Cubs</a></ul>
                        <ul><a class="dropdown-item" href="#">Cincinnati Reds</a></ul>
                        <ul><a class="dropdown-item" href="#">Milwaukee Brewers</a></ul>
                        <ul><a class="dropdown-item" href="#">Pittsburgh Pirates</a></ul>
                        <ul><a class="dropdown-item" href="#">St. Louis Cardinals</a></ul>
                    </ul>

                    <ul class="list-group container-fluid">
                        <ul>NL West<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="#">Arizona Diamondbacks</a></ul>
                        <ul><a class="dropdown-item" href="#">Colorado Rockies</a></ul>
                        <ul><a class="dropdown-item" href="#">Los Angeles Dodgers</a></ul>
                        <ul><a class="dropdown-item" href="#">San Diego Padres</a></ul>
                        <ul><a class="dropdown-item" href="#">San Francisco Giants</a></ul>
                    </ul>
                </ul>
            </ul>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search Teams/Players" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>