<!-- Bootstrap Navigation Bar -->

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>

          <!-- Drop Down Menu for Teams -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teams
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ul class="list-group list-group-horizontal">
                    <ul class="list-group container-fluid">
                        <ul>AL East<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="/team/Baltimore_Orioles">Baltimore Orioles</a></ul>
                        <ul><a class="dropdown-item" href="/team/Boston_Red_Sox">Boston Red Sox</a></ul>
                        <ul><a class="dropdown-item" href="/team/New_York_Yankees">New York Yankees</a></ul>
                        <ul><a class="dropdown-item" href="/team/Tampa_Bay_Rays">Tampa Bay Rays</a></ul>
                        <ul><a class="dropdown-item" href="/team/Toronto_Blue_Jays">Toronto Blue Jays</a></ul>
                    </ul>
                    
                    <ul class="list-group container-fluid">
                        <ul>AL Central<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="/team/Chicago_White_Sox">Chicago White Sox</a></ul>
                        <ul><a class="dropdown-item" href="/team/Cleveland_Guardians">Cleveland Guardians</a></ul>
                        <ul><a class="dropdown-item" href="/team/Detroit_Tigers">Detroit Tigers</a></ul>
                        <ul><a class="dropdown-item" href="/team/Kansas_City_Royals">Kansas City Royals</a></ul>
                        <ul><a class="dropdown-item" href="/team/Minnesota_Twins">Minnesota Twins</a></ul>
                    </ul>

                    <ul class="list-group container-fluid">
                        <ul>AL West<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="/team/Houston_Astros">Houston Astros</a></ul>
                        <ul><a class="dropdown-item" href="/team/Los_Angeles_Angels">Los Angeles Angels</a></ul>
                        <ul><a class="dropdown-item" href="/team/Oakland_Athletics">Oakland Athletics</a></ul>
                        <ul><a class="dropdown-item" href="/team/Seattle_Mariners">Seattle Mariners</a></ul>
                        <ul><a class="dropdown-item" href="/team/Texas_Rangers">Texas Rangers</a></ul>
                    </ul>
                </ul>

                <br>

                <ul class="list-group list-group-horizontal">
                    <ul class="list-group container-fluid">
                        <ul>NL East<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="/team/Atlanta_Braves">Atlanta Braves</a></ul>
                        <ul><a class="dropdown-item" href="/team/Miami_Marlins">Miami Marlins</a></ul>
                        <ul><a class="dropdown-item" href="/team/New_York_Mets">New York Mets</a></ul>
                        <ul><a class="dropdown-item" href="/team/Philadelphia_Phillies">Philadelphia Phillies</a></ul>
                        <ul><a class="dropdown-item" href="/team/Washington_Nationals">Washington Nationals</a></ul>
                    </ul>
                    
                    <ul class="list-group container-fluid">
                        <ul>NL Central<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="/team/Chicago_Cubs">Chicago Cubs</a></ul>
                        <ul><a class="dropdown-item" href="/team/Cincinnati_Reds">Cincinnati Reds</a></ul>
                        <ul><a class="dropdown-item" href="/team/Milwaukee_Brewers">Milwaukee Brewers</a></ul>
                        <ul><a class="dropdown-item" href="/team/Pittsburgh_Pirates">Pittsburgh Pirates</a></ul>
                        <ul><a class="dropdown-item" href="/team/St._Louis_Cardinals">St. Louis Cardinals</a></ul>
                    </ul>

                    <ul class="list-group container-fluid">
                        <ul>NL West<hr class="dropdown-divider"></ul>
                        <ul><a class="dropdown-item" href="/team/Arizona_Diamondbacks">Arizona Diamondbacks</a></ul>
                        <ul><a class="dropdown-item" href="/team/Colorado_Rockies">Colorado Rockies</a></ul>
                        <ul><a class="dropdown-item" href="/team/Los_Angeles_Dodgers">Los Angeles Dodgers</a></ul>
                        <ul><a class="dropdown-item" href="/team/San_Diego_Padres">San Diego Padres</a></ul>
                        <ul><a class="dropdown-item" href="/team/San_Francisco_Giants">San Francisco Giants</a></ul>
                    </ul>
                </ul>
                <br>
            </ul>
          </li>
          <!-- Display user profile if signed in-->
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' request.user %}">User Profile</a>
            </li>
          {% endif %}
        </ul>
        <!-- Login/Logout/Register depending on if a user is signed in -->
        {% if user.is_authenticated %}
          <span class="navbar-text">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </span>
        {% else %}
          <span class="navbar-text">
            <a class="nav-link" href="{% url 'login' %}"> Login </a>
          </span>
          <span class="navbar-text">
            /
          </span>
          <span class="navbar-text">
            <a class="nav-link" href="{% url 'register' %}"> Register </a>
          </span>
        {% endif %}
      </div>
    </div>
  </nav>