{% extends "baseball/layout.html" %}

{% load static %}

{% block body %}
    <!-- Used for the favorite star -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-1">
                    {{ player.name_display_first_last }}
                </h1>
                <h5>
                  <a href="https://twitter.com/{{ player_twitter_name }}">{{ player_info.twitter_id }}</a>
                </h5>
                {% if request.user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}

                        {% if user_favorited == 'yes' %}
                            <button name="button" value="unfavorite" class="fa fa-star btn btn-lg btn-warning"></button>
                        {% elif user_favorited == 'no' %}
                            <button name="button" value="favorite" class="fa fa-star btn btn-lg btn-outline-warning"></button>
                        {% endif %}
                    </form>
                {% endif %}
                <hr>
                <br>
                <!-- Display player Bio information -->
                <h2>Bio</h2>
                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                    <div class="row">
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col">Team:</dt>
                                    <dd class="col-md-8">
                                        <span id="team-name-bio">{{ player_info.team_name }}</span>
                                    </dd>
                                </dl>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col">Position:</dt>
                                    <dd class="col-md-8">{{ player.position }}</dd>
                                </dl>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col">Jersey #:</dt>
                                    <dd class="col-md-8">{{ player_info.jersey_number }}</dd>
                                </dl>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col">Age:</dt>
                                    <dd class="col-8">{{ player_info.age }}</dd>
                                </dl>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col">Height:</dt>
                                    <dd class="col-md-8">{{ player.height_feet }}'{{ player.height_inches }}"</dd>
                                </dl>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col">Weight:</dt>
                                    <dd class="col-md-8">{{ player.weight }} lbs</dd>
                                </dl>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col">AKA:</dt>
                                    <dd class="col-md-8">{{ player_info.name_nick }}</dd>
                                </dl>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col">Pro Debut:</dt>
                                    <dd class="col-md-8" id="pro-debut-date">{{ player.pro_debut_date }}</dd>
                                </dl>
                            </div> 
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <dl class="row">
                                    <!-- Display High School if no College -->
                                    {% if player.college != "" %}
                                        <dt class="col">College:</dt>
                                        <dd class="col-md-8">{{ player.college }}</dd>
                                    {% else %}
                                        <dt class="col">High School:</dt>
                                        <dd class="col-md-8">{{ player.high_school }}</dd>
                                    {% endif %}
                                </dl>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Display Hitting Stats for non pitchers -->
        {% if player.position != "P" %}
            <div class="row">
                <div class="col">
                    <h2>Season Hitting Stats</h2>
                    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Season</th>
                                        <th scope="col">Team</th>
                                        <th scope="col">AB</th>
                                        <th scope="col">R</th>
                                        <th scope="col">H</th>
                                        <th scope="col">HR</th>
                                        <th scope="col">RBI</th>
                                        <th scope="col">AVG</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider" id="season-hitting-stats">
                                    <tr>
                                        <th scope="row">{{ season_hitting_stats.season }}</th>
                                        <td>{{ season_hitting_stats.team_abbrev }}</td>
                                        <td>{{ season_hitting_stats.ab }}</td>
                                        <td>{{ season_hitting_stats.r }}</td>
                                        <td>{{ season_hitting_stats.h }}</td>
                                        <td>{{ season_hitting_stats.hr }}</td>
                                        <td>{{ season_hitting_stats.rbi }}</td>
                                        <td>{{ season_hitting_stats.avg }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h2>Career Hitting Stats</h2>
                    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Career</th>
                                        <th scope="col">AB</th>
                                        <th scope="col">R</th>
                                        <th scope="col">H</th>
                                        <th scope="col">HR</th>
                                        <th scope="col">RBI</th>
                                        <th scope="col">AVG</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row"></th>
                                        <td>{{ career_hitting_stats.ab }}</td>
                                        <td>{{ career_hitting_stats.r }}</td>
                                        <td>{{ career_hitting_stats.h }}</td>
                                        <td>{{ career_hitting_stats.hr }}</td>
                                        <td>{{ career_hitting_stats.rbi }}</td>
                                        <td>{{ career_hitting_stats.avg }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Display Pitching stats for pitchers -->
        {% else %}
            <div class="row">
                <div class="col">
                    <h2>Season Pitching Stats</h2>
                    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Season</th>
                                        <th scope="col">Team</th>
                                        <th scope="col">W</th>
                                        <th scope="col">L</th>
                                        <th scope="col">ERA</th>
                                        <th scope="col">IP</th>
                                        <th scope="col">SO</th>
                                        <th scope="col">WHIP</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider" id="season-pitching-stats">
                                    <tr>
                                        <th scope="row">{{ season_pitching_stats.season }}</th>
                                        <td>{{ season_pitching_stats.team_abbrev }}</td>
                                        <td>{{ season_pitching_stats.w }}</td>
                                        <td>{{ season_pitching_stats.l }}</td>
                                        <td>{{ season_pitching_stats.era }}</td>
                                        <td>{{ season_pitching_stats.ip }}</td>
                                        <td>{{ season_pitching_stats.so }}</td>
                                        <td>{{ season_pitching_stats.whip }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h2>Career Pitching Stats</h2>
                    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Career</th>
                                        <th scope="col">W</th>
                                        <th scope="col">L</th>
                                        <th scope="col">ERA</th>
                                        <th scope="col">IP</th>
                                        <th scope="col">SO</th>
                                        <th scope="col">WHIP</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row"></th>
                                        <td>{{ career_pitching_stats.w }}</td>
                                        <td>{{ career_pitching_stats.l }}</td>
                                        <td>{{ career_pitching_stats.era }}</td>
                                        <td>{{ career_pitching_stats.ip }}</td>
                                        <td>{{ career_pitching_stats.so }}</td>
                                        <td>{{ career_pitching_stats.whip }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
        <div class="row">
            <div class="col">
                <h2>Recent News</h2>
                <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        {% if player_news.totalResults != 0 %}
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <!-- Display articles -->
                                {% for article in player_news.articles %}
                                    <div class="col">
                                        <div class="card mb-3 h-100" style="max-width: 540px;">
                                            <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title"><a href="{{ article.url }}" style="text-decoration: none; color: inherit;">{{ article.title }}</a></h5>
                                                <p class="card-text">{{ article.description }}</p>
                                                {% if article.source.name == "ESPN" %}
                                                    <a href="{{ article.url }}"><img src="http://a.espncdn.com/i/apis/attribution/espn-black_50.png"></a>
                                                    <span style="float: right;"><small class="text-muted">Published: <span id="article-published">{{ article.publishedAt }}</span></small></span>
                                                {% else %}
                                                    <p class="card-text">
                                                        <small class="text-muted">Source: {{ article.source.name }}</small>
                                                        <span style="float: right;"><small class="text-muted">Published: <span id="article-published">{{ article.publishedAt }}</span></small></span>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>  
                                    </div>
                                {% endfor %}
                            </div> 
                        {% else %}
                            <h5>We apologize, but there are no recent articles for {{ player.name_display_first_last }}</h5>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Twitter Posts -->
        <h2>Recent Twitter Posts</h2>
        <div class="row">
            <div class="col">       
                <!-- Creating Twitter Cards -->
                {% if player_mlb_tweets.meta.result_count != 0 %}
                    {% for tweet in player_mlb_tweets.data %}                
                        <div class="col-8">
                            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                <div class="container" style="padding: 15px 15px;">
                                    <div class="row" style="padding-bottom: 10px;">
                                        <!-- Populating User Info -->
                                        {% for user in player_mlb_tweets.includes.users %}
                                            {% if user.id == tweet.author_id %}
                                                <div class="col-lg-2">
                                                    <img src="{{ user.profile_image_url }}" style="height: 48px; width: 48px;"> 
                                                </div>
                                                <div class="col-lg" style="padding-left: 0;">
                                                    <div>{{ user.name }}</div>
                                                    <div>@{{ user.username }}</div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <!-- Twitter Logo -->
                                        <div class="col-lg">
                                            <a href="https://twitter.com/"><img src="{% static 'baseball/images/logos/Twitter_Logo_Blue.png' %}" class="card_img" style="float: right;" height="19.22" width="23.65"></a>
                                        </div>
                                    </div>
                                    <!-- Contents of the Tweet -->
                                    <div class="row">
                                        <div class="col" style="padding-bottom: 10px;">
                                            {{ tweet.text }}
                                        </div>
                                    </div>
                                    <!-- Image/Video Preview -->
                                    <div class="row">
                                        <div class="container" style="position: relative;">
                                            {% for media in player_mlb_tweets.includes.media %}
                                                {% if media.media_key == tweet.attachments.media_keys.0 %}
                                                    {% if media.type == "photo" %}
                                                        <div class="col" style="padding-bottom: 10px;">
                                                            <img src="{{ media.url }}" class="card-img">
                                                        </div>
                                                    {% elif media.type == "video" %}
                                                        <div class="col" style="padding-bottom: 10px;">
                                                            <a href="{{ tweet.entities.urls.0.url }}"><img src="{{ media.preview_image_url }}" class="card-img"></a>
                                                            <div class="play-button-overlay">
                                                                <a href="{{ tweet.entities.urls.0.url }}"><img class="card-img" height="75" width="150" src="https://www.freeiconspng.com/uploads/play-button-icon-png-8.png"></a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-muted" id="tweet-created" style="padding-bottom: 5px;">
                                            {{ tweet.created_at }}
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0px;">
                                    <!-- Link to tweet -->
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{ tweet.entities.urls.0.url }}">View on Twitter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                
                        <br>
                    {% endfor %}
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                We apologize, but there are no recent twitter posts for {{ player.name_display_first_last }}, but you can
                                visit his twitter page <a href="https://twitter.com/{{ player_twitter_name }}">{{ player_info.twitter_id }}</a> 
                                to get all his posts.
                            </h5>
                        </div>
                    </div>
                {% endif %}
                {% if player_twitter_name == None %}
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                We apologize, but {{ player.name_display_first_last }} does not have a twitter account.  
                            </h5>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    <br>

    <script src="{% static 'baseball/player.js' %}"></script>
{% endblock %}