{% extends "baseball/layout.html" %}

{% load static %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-1">Hello, {{ user.first_name }}</h1>
                <br>
                <div class="row">
                    <div class="col">
                        <h2>Favorited Teams</h2>
                        <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for team in user_favorite_teams %}
                                                    <tr>
                                                        <td>
                                                            <span id="favorite-team-name-full">{{ team.team_name }}</span> 
                                                            ({{ team.team_name.division }})
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h2>Favorited Players</h2>
                        <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Position</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for player in user_favorite_players %}
                                                    <tr>
                                                        <td>
                                                            <span id="favorite-player-name">{{ player.player_name }}</span> 
                                                            (<span id="favorite-player-team-abbrev">{{ player.player_team_abbrev }}</span>)
                                                        </td>
                                                        <td>
                                                            {{ player.player_position }}
                                                        </td>
                                                    </tr>
                                                    <span id="favorite-player-team-full-{{ player.player_team_abbrev }}" hidden>{{ player.player_team_full }}</span>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark" id="favorite-team-show-hide">Hide Favorite Teams News/Media</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark" id="favorite-player-show-hide">Hide Favorite Players News/Media</button>
                    </div>
                </div>
                <br>
                
                <!-- Favorited Teams Section -->

                <div id="favorite-team-articles">
                <!-- Display Recent Team News -->
                    <h2>Favorited Teams Recent News</h2>
                    <div class="row"></div>
                        <div class="col">
                            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                <div class="card-body">
                                    <div class="row row-cols-1 row-cols-md-2 g-4">
                                        <!-- Display articles -->
                                        {% for team_articles in favorite_teams_articles %}
                                            {% for article in team_articles.articles %}
                                                <div class="col">
                                                    <div class="card mb-3 h-100" style="max-width: 540px;">
                                                        <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <h5 class="card-title"><a href="{{ article.url }}" style="text-decoration: none; color: inherit;">{{ article.title }}</a></h5>
                                                            <p class="card-text">{{ article.description }}</p>
                                                            {% if article.source.name == "ESPN" %}
                                                                <a href="{{ article.url }}"><img src="http://a.espncdn.com/i/apis/attribution/espn-black_50.png"></a>
                                                                <span style="float: right;"><small class="text-muted">Published: <span id="article-published">{{ article.publishedAt }}</span></small></span>
                                                            {% else %}  
                                                                <p class="card-text">
                                                                    <small class="text-muted">Source: {{ article.source.name }}</small>
                                                                    <span style="float: right;"><small class="text-muted">Published: <span id="article-published">{{ article.publishedAt }}</span></small></span>
                                                                </p>
                                                            {% endif %}
                                                        </div>
                                                    </div>  
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                
                <!-- Iterate over each favorite team and display tweets -->
                <div class="container" id="favorite-team-tweets">
                    <h2>Favorited Teams Recent Tweets</h2>
                    <div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
                        {% for team_tweets in favorite_teams_tweets %}
                            {% for tweet in team_tweets.data %}
                                <!-- Show only 5 tweets per team -->
                                {% if forloop.counter0 < 5 %}
                                    <div class="col-8">
                                        <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                            <div class="container" style="padding: 15px 15px;">
                                                <div class="row" style="padding-bottom: 10px;">
                                                    <!-- Populating User Info -->
                                                    {% for user in team_tweets.includes.users %}
                                                        {% if user.id == tweet.author_id %}
                                                            <div class="col-lg-2">
                                                                <img src="{{ user.profile_image_url }}" style="height: 48px; width: 48px;"> 
                                                            </div>
                                                            <div class="col-lg" style="padding-left: 0;">
                                                                <div>{{ user.name }}</div>
                                                                <div>@{{ user.username }}</div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <!-- Twitter Logo -->
                                                    <div class="col-lg">
                                                        <a href="https://twitter.com/"><img src="{% static 'baseball/images/logos/Twitter_Logo_Blue.png' %}" class="card_img" style="float: right;" height="19.22" width="23.65"></a>
                                                    </div>
                                                </div>
                                                <!-- Contents of the Tweet -->
                                                <div class="row">
                                                    <div class="col" style="padding-bottom: 10px;">
                                                        {{ tweet.text }}
                                                    </div>
                                                </div>
                                                <!-- Image/Video Preview -->
                                                <div class="row">
                                                    <div class="container" style="position: relative;">
                                                        {% for media in team_tweets.includes.media %}
                                                            {% if media.media_key == tweet.attachments.media_keys.0 %}
                                                                {% if media.type == "photo" %}
                                                                    <div class="col" style="padding-bottom: 10px;">
                                                                        <img src="{{ media.url }}" class="card-img">
                                                                    </div>
                                                                {% elif media.type == "video" %}
                                                                    <div class="col" style="padding-bottom: 10px;">
                                                                        <a href="{{ tweet.entities.urls.0.url }}"><img src="{{ media.preview_image_url }}" class="card-img"></a>
                                                                        <div class="play-button-overlay">
                                                                            <a href="{{ tweet.entities.urls.0.url }}"><img class="card-img" height="75" width="150" src="https://www.freeiconspng.com/uploads/play-button-icon-png-8.png"></a>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-muted" id="tweet-created" style="padding-bottom: 5px;">
                                                        {{ tweet.created_at }}
                                                    </div>
                                                </div>
                                                <hr style="margin-top: 0px;">
                                                <!-- Link to tweet -->
                                                <div class="row">
                                                    <div class="col">
                                                        <a href="{{ tweet.entities.urls.0.url }}">View on Twitter</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                
                                    <br> 
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div> 
                </div>

                <!-- Favorited Players Section -->

                <div id="favorite-player-articles">
                <!-- Display Recent Player News -->
                    <h2>Favorited Players Recent News</h2>
                    <div class="row"></div>
                        <div class="col">
                            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                <div class="card-body">
                                    <div class="row row-cols-1 row-cols-md-2 g-4">
                                        <!-- Display articles -->
                                        {% for player_articles in favorite_players_articles %}
                                            {% for article in player_articles.articles %}
                                                <div class="col">
                                                    <div class="card mb-3 h-100" style="max-width: 540px;">
                                                        <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <h5 class="card-title"><a href="{{ article.url }}" style="text-decoration: none; color: inherit;">{{ article.title }}</a></h5>
                                                            <p class="card-text">{{ article.description }}</p>
                                                            {% if article.source.name == "ESPN" %}
                                                                <a href="{{ article.url }}"><img src="http://a.espncdn.com/i/apis/attribution/espn-black_50.png"></a>
                                                                <span style="float: right;"><small class="text-muted">Published: <span id="article-published">{{ article.publishedAt }}</span></small></span>
                                                            {% else %}  
                                                                <p class="card-text">
                                                                    <small class="text-muted">Source: {{ article.source.name }}</small>
                                                                    <span style="float: right;"><small class="text-muted">Published: <span id="article-published">{{ article.publishedAt }}</span></small></span>
                                                                </p>
                                                            {% endif %}
                                                        </div>
                                                    </div>  
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Iterate over each favorite player and display tweets -->
                <div class="container" id="favorite-player-tweets">
                    <h2>Favorited Players Recent Tweets</h2>
                    <div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
                        {% for player_tweets in favorite_players_tweets %}
                            {% for tweet in player_tweets.data %}
                                <!-- Show only 5 tweets per team -->
                                {% if forloop.counter0 < 5 %}
                                    <div class="col-8">
                                        <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                                            <div class="container" style="padding: 15px 15px;">
                                                <div class="row" style="padding-bottom: 10px;">
                                                    <!-- Populating User Info -->
                                                    {% for user in player_tweets.includes.users %}
                                                        {% if user.id == tweet.author_id %}
                                                            <div class="col-lg-2">
                                                                <img src="{{ user.profile_image_url }}" style="height: 48px; width: 48px;"> 
                                                            </div>
                                                            <div class="col-lg" style="padding-left: 0;">
                                                                <div>{{ user.name }}</div>
                                                                <div>@{{ user.username }}</div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <!-- Twitter Logo -->
                                                    <div class="col-lg">
                                                        <a href="https://twitter.com/"><img src="{% static 'baseball/images/logos/Twitter_Logo_Blue.png' %}" class="card_img" style="float: right;" height="19.22" width="23.65"></a>
                                                    </div>
                                                </div>
                                                <!-- Contents of the Tweet -->
                                                <div class="row">
                                                    <div class="col" style="padding-bottom: 10px;">
                                                        {{ tweet.text }}
                                                    </div>
                                                </div>
                                                <!-- Image/Video Preview -->
                                                <div class="row">
                                                    <div class="container" style="position: relative;">
                                                        {% for media in player_tweets.includes.media %}
                                                            {% if media.media_key == tweet.attachments.media_keys.0 %}
                                                                {% if media.type == "photo" %}
                                                                    <div class="col" style="padding-bottom: 10px;">
                                                                        <img src="{{ media.url }}" class="card-img">
                                                                    </div>
                                                                {% elif media.type == "video" %}
                                                                    <div class="col" style="padding-bottom: 10px;">
                                                                        <a href="{{ tweet.entities.urls.0.url }}"><img src="{{ media.preview_image_url }}" class="card-img"></a>
                                                                        <div class="play-button-overlay">
                                                                            <a href="{{ tweet.entities.urls.0.url }}"><img class="card-img" height="75" width="150" src="https://www.freeiconspng.com/uploads/play-button-icon-png-8.png"></a>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-muted" id="tweet-created" style="padding-bottom: 5px;">
                                                        {{ tweet.created_at }}
                                                    </div>
                                                </div>
                                                <hr style="margin-top: 0px;">
                                                <!-- Link to tweet -->
                                                <div class="row">
                                                    <div class="col">
                                                        <a href="{{ tweet.entities.urls.0.url }}">View on Twitter</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                
                                    <br> 
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'baseball/profile.js' %}"></script>

    <!-- Masonry script used in conjunction with bootstrap to get overlapping effect for tweets -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    
{% endblock %}